
body {
  margin: 0;
}

.Hero { 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  position: fixed;
}

.Hero svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Hero video {
  display: table-cell;
  vertical-align: middle;
/*  filter:blur(3px); */
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.Hero svg text {
  font-family: 'Chivo', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 100px;
}

.Hero #masked {
  mask:url('#maskLayer');
}

#firstLine {
  animation: HeroAnimation 2s cubic-bezier(.2,0,.2,1) 3s forwards;
} 

@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
    scale: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    scale: 1;
  }
}

@media (max-width: 800px) {
  .Hero text {
    font-size: 50px !important;
  }
}

@media (max-width: 400px) {
  .Hero text {
    font-size: 40px !important;
  }
}